<div class="outline">
     <div class="box" >
        <p class="text">TITLE:
            <input type="text" [(ngModel)]=movi.title placeholder="Title">
        </p>
        <p class="text">YEAR:
            <input type="text" [(ngModel)]=movi.year placeholder="YYYY">
        </p>
        <p class="text">IMAGE:
            <input type="text" [(ngModel)]=movi.image placeholder="url">
        </p>
        <p class="text">RATING:
            <input type="radio" [(ngModel)]=movi.rating value="1" id="1">
            <label for="1">1</label>
            <input type="radio" [(ngModel)]=movi.rating value="2" id="2">
            <label for="2">2</label>
            <input type="radio" [(ngModel)]=movi.rating value="3" id="3">
            <label for="3">3</label>
            <input type="radio" [(ngModel)]=movi.rating value="4" id="4">
            <label for="4">4</label>
            <input type="radio" [(ngModel)]=movi.rating value="5" id="5">
            <label for="5">5</label>
        </p>
        <button (click)="save()">ADD</button>
    
    </div>
    <div class="container space" *ngFor="let movi of mov">
        <a routerLink="/mov/{{movi.title}}">
            <img class="image" [src]='poster(movi.image)' alt="">
            <div class="content">
                <p>Title: {{movi.title}}</p>
                <p>year: {{movi.year}}</p>
                <p>Rating: {{movi.rating}}</p>
            </div>
        </a>
    </div>
</div>