.list{
    display: inline-block;
    margin: 20px;
    
}
.poster {
    height: 300px;
    width: 180px;
    position: relative;
    cursor: pointer;
    .img-container {
      height: 55%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        transition: 0.3s ease;
      }
      border-bottom: 5px solid red;
    }
    .details {
      background: black;
      height: 45%;
      position: relative;
      p {
        color: white;
        margin: 0;
        padding: 16px;
        z-index: 2;
        position: relative;
      }
      .curtain {
        background: red;
        height: 0;
        position: absolute;
        top: 0;
        width: 100%;
        transition: 0.3s ease;
      }
    }
  
    &:hover {
      .img-container {
        img {
          transform: scale(1.1);
        }
      }
      .details {
        .curtain {
          height: 100%;
        }
      }
    }
  
    &:after {
      content: "";
      height: 0px;
      width: 0px;
      border-style: solid;
      border-width: 10px;
      border-color: transparent white white transparent;
      position: absolute;
      right: 0;
      bottom: -5px;
    }
     
    .button{
      width:60px;
      height:20px;
    }
   
  }
  